*{
  background: black;
}


.title_legislatia {
  padding: 20px;
  background: black;
  position: relative;
}
.title_legislatia:before {
  content: "";
  position: absolute;
  border-top: 6px solid lightblue;
  border-left: 6px solid lightblue;
  width: 30px;
  height: 30px;
  top: 24px;
  left: 24px;
  z-index: 3;
}
.title_legislatia h1 {
  min-width: 300px;
  text-align: center;
  border: 4px solid lightblue;
  position: relative;
  padding: 50px 0;
  margin: 0;
  font-family: 'Calibri', serif;
}
.title_legislatia h1:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 46px;
  border-bottom: 4px solid black;
  left: -4px;
  top: -4px;
  background: black;
}
.title_legislatia h1:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 60px;
  border-top: 4px solid lightblue;
  border-left: 4px solid lightblue;
  left: 42px;
  top: -4px;
}
.title_legislatia a {
  display: block;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 0 white;
}
.title_legislatia span {
  display: block;
  text-transform: uppercase;
  font-size: .5em;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 300;
}
.lenta {
	display: flex;
width: 160px; 
height: 35px; 
font-size: 25px;
padding-left: 5%;
margin: 10px 0;
border: 2px solid darkred;
background: black;
color: white;
position: relative;
}
.lenta:after {
content: "";
width: 0; 
height: 0;
position: absolute; 
top: -10px; 
left: 100%;
border-width: 30px 0 30px 50px;
border-style: solid;
border-color: transparent darkred;
}
.description{
	margin-left: 20%;
	font-size: 25px;
	text-decoration: none;
	border: 2px solid red;
	padding-left: 5px;
}
.description a{
	line-height: 50px;
	text-decoration: none;
	font-family: 'Calibri', serif;
	color: white;
}

.description a:hover{
	color: red;
}
