p{
	color: red;
	font-size: 35px;
}
.blue_square{
	width: 100px;
	height: 100px;
	display: inline-flex;
	font-size: 20px;
}
#special-tag{
	background: blue;
}
.group{
	width: 200px;
	height: 200px;
	background: red;
	display: inline-flex;
	font-size: 20px;
	 border: 5px solid green;
}

.oval{
	width: 200px;
	height: 100px;
	border-radius: 100px/50px;
	background: black;
	display: inline-flex;
	font-size: 20px;
}
.circle{
	display: inline-flex;
	font-size: 20px;
	width: 100px;
	height: 100px;
	border-radius:50% ;
	background: orange;
}
.rectagle{
	display: inline-flex;
	font-size: 20px;
	width: 200px;
	height: 100px;
	background: greenyellow;
}
.top-parent{
	margin-top: 10px;
	width: 10em;
	height: 50px;
	border: dashed 4px orange;
}
.bottom-parent{
	margin-top: 10px;
	border: dashed 2px purple;
	width: 100px;
	height: 4rem;
}